*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2rem;
}

.notification{
    padding: .5rem;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.success{
    background-color: rgb(92, 188, 92);
    border: 2px solid  rgb(16, 87, 16);
}

.error{
    background-color: rgb(173, 82, 82);
    border: 2px solid  rgb(62, 2, 2);   
}